# 1. Write a Python program to convert kilometers to miles?

In [ ]:
# Kilometers can be easily converted by miles

1 Km = 0.621371 miles
miles = Km * 0.621371

In [2]:
Km = int(input("Enter the value of numbers : "))

conversion = 0.621371
miles = Km * 0.621371

print("the converted value of Km into miles", miles)

Enter the value of numbers : 20
the converted value of Km into miles 12.42742

# 2. Write a Python program to convert Celsius to Fahrenheit?

In [9]:
Celsius = float(input("Enter the temperature: "))

Fahrenheit = (Celsius*1.8) + 32
print(f"the percentage of Celsius:{Celsius}degrees converted into Fahrenheit: %{Fahrenheit}degrees")

Enter the temperature: 34
the percentage of Celsius:34.0degrees converted into Fahrenheit: %93.2degrees

# 3. Write a Python program to display calendar?

In [22]:
import calendar
yyyy  = 2022

# yyyy = input("Enter your favourite year")
# mm = input("Enter your favourite month")
print(calendar.calendar(yyyy))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

# 4. Write a Python program to solve quadratic equation?
```
ax**2 + bx + c = 0
The general form of quadratic equations
where a is not equal to zero, a, b, c are called co-efficients.
```
```
d = b**2 - 4ac

In [27]:
import cmath
a = float(input("Enter the value of a :"))
b = float(input("Enter the value of b : "))
c = float(input("Enter the value of c : "))


#the discriminant called
d = (b**2) - (4*a*c)

#the solution for quadratic equations are
x1 = (-b + cmath.sqrt(d))/(2*a)
x2 = (-b - cmath.sqrt(d))/(2*a)
print(x1,x2)

Enter the value of a :8
Enter the value of b : 5
Enter the value of c : 9
(-0.3125+1.0135796712641785j) (-0.3125-1.0135796712641785j)

In [30]:
import cmath
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
c = int(input("Enter the value of c: "))

#the discriminant value
d = (b**2) - (4*a*c)

x1 = (-b + cmath.sqrt(d))/(2*a)
x2 = (-b - cmath.sqrt(d))/(2*a)

print("the solution of x1 and x2 are", x1, x2)

Enter the value of a: 8
Enter the value of b: 5
Enter the value of c: 9
the solution of x1 and x2 are (-0.3125+1.0135796712641785j) (-0.3125-1.0135796712641785j)

# 5. Write a Python program to swap two variables without temp variable?

In [34]:
x = 10
y = 30

x , y = y ,x

print("the variable of x is: ",x)
print("the variable of y is: ",y)

the variable of x is:  30
the variable of y is:  10