# (1).Write a Python program to print "Hello Python"?

In [1]:
print("Hello Python")

Hello Python

In [3]:
print(f"Hello Python")

Hello Python

# (2).Write a Python program to do arithmetical operations addition and division.?

In [15]:
A = 22.55
B = 55.34
C = 44.55
print(f"The sum of A B and C are {A},{B} and {C} is ", A+B+C)

The sum of A B and C are 22.55,55.34 and 44.55 is  122.44

In [19]:
A = 33
B = 2
print("The division of A and B are ", A/B)

The division of A and B are  16.5

# (3).Write a Python program to find the area of a triangle?

In [20]:
base = float(input("enter the base: "))
height = float(input("enter the height: "))

area = 1/2*base*height  #area = 0.5*b*h
print("The area of traingle is ", area)

enter the base: 4
enter the height: 5
The area of traingle is  10.0

In [21]:
base = int(input("enter the base: "))
height = float(input("enter the height: "))

area = 1/2*base*height  #area = 0.5*b*h
print("The area of traingle is ", area)

enter the base: 4
enter the height: 5
The area of traingle is  10.0

# (4).Write a Python program to swap two variables?

In [22]:
a = int(input("""enter the value of "a": """))
b = int(input("""enter the value of "b": """))

# let consider another value as temp

temp = a
a = b
b = temp

print("""the value of "a" after swapping: """, a)
print("""the value of "b" after swapping: """, b)

enter the value of "a": 4
enter the value of "b": 5
the value of "a" after swapping:  5
the value of "b" after swapping:  4

In [25]:
a = float(input("""enter the value of "a": """))
b = float(input("""enter the value of "b": """))

# let consider another value as temp

temp = a
a = b
b = temp

print("""the value of "a" after swapping: """, a)
print("""the value of "b" after swapping: """, b)

enter the value of "a": 44.0
enter the value of "b": 55.7
the value of "a" after swapping:  55.7
the value of "b" after swapping:  44.0

In [26]:
a = "SanJayu" #this is for reference
a.swapcase()

'sANjAYU'

# (5).Write a Python program to generate a random number?

In [27]:
import random  
n = random.random()  
print(n)

0.16428915377016906

In [30]:
list = [33,44,55,66,77]
print(random.choice(list))

66

In [36]:
list = ["sanjay","neuron","data","datasector"]
print(random.choice(list))

datasector